<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-jpa="http://www.springframework.org/schema/integration/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration/jpa https://www.springframework.org/schema/integration/jpa/spring-integration-jpa.xsd">

    <int:channel id="createPersonRequestChannel"/>

    <int:channel id="listPeopleRequestChannel"/>

    <int:gateway id="personService"
                 service-interface="com.codesode.command.ifsc.command.service.PersonService"
                 default-request-timeout="5000"
                 default-reply-timeout="5000">
        <int:method name="createPerson" request-channel="createPersonRequestChannel"/>
        <int:method name="findPeople"   request-channel="listPeopleRequestChannel"/>
    </int:gateway>

    <int-jpa:retrieving-outbound-gateway entity-manager-factory="entityManagerFactory"
                                         request-channel="listPeopleRequestChannel"
                                         jpa-query="select p from Person p order by p.name asc">
    </int-jpa:retrieving-outbound-gateway>

    <int-jpa:updating-outbound-gateway entity-manager-factory="entityManagerFactory"
                                       request-channel="createPersonRequestChannel" >
        <int-jpa:transactional transaction-manager="transactionManager" />
    </int-jpa:updating-outbound-gateway>

    <int:inbound-channel-adapter channel="createPersonRequestChannel" auto-startup="false">
        <ref bean="personService"/>
        <int:poller trigger="compoundTrigger">
            <int:advice-chain>
                <bean class="org.springframework.integration.aop.CompoundTriggerAdvice">
                    <constructor-arg ref="compoundTrigger"/>
                    <constructor-arg ref="secondary"/>
                </bean>
            </int:advice-chain>
        </int:poller>
    </int:inbound-channel-adapter>

    <bean id="compoundTrigger" class="org.springframework.integration.util.CompoundTrigger">
        <constructor-arg ref="primary" />
    </bean>

    <bean id="primary" class="org.springframework.scheduling.support.CronTrigger">
        <constructor-arg value="0 0 * * * *" /> <!-- top of every hour -->
    </bean>

    <bean id="secondary" class="org.springframework.scheduling.support.PeriodicTrigger">
        <constructor-arg value="60000" />
    </bean>

</beans>